.carousel-inner {position: relative;width: 100%;overflow: hidden; height:auto;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img    {display: block;
	max-width: 100%;
	height: auto;
}




@media screen and (max-width: 768px){
	.carousel-inner {
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 140px;
	}

	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img    {display: block;
		max-width: 100%;
		height: -webkit-fill-available;
	}
	
}
